<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Proposicional</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#000000">

</head>
<body>
    <div class="container">
        <h1>Calculadora Proposicional</h1>
        <input type="text" id="input" readonly>
        
        <div class="button-container">
            <button onclick="adicionarTexto('A')">A</button>
            <button onclick="adicionarTexto('B')">B</button>
            <button onclick="adicionarTexto('C')">C</button>
            <button onclick="adicionarTexto('D')">D</button>
            
            <button onclick="adicionarTexto('¬')">¬ (Negação)</button>
            <button onclick="adicionarTexto('∧')">∧ (E)</button>
            <button onclick="adicionarTexto('∨')">∨ (Ou)</button>
            <button onclick="adicionarTexto('→')">→ (Implicação)</button>
            
            <button onclick="adicionarTexto('↔')">↔ (Bicondicional)</button>
            <button onclick="adicionarTexto('(')">(</button>
            <button onclick="adicionarTexto(')')">)</button>
            <button onclick="limparTexto()" class="clear-btn">Limpar</button>
        </div>
    </div>

    <script>
        function adicionarTexto(caractere) {
            document.getElementById("input").value += caractere;
        }

        function limparTexto() {
            document.getElementById("input").value = "";
        }

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/sw.js')
            .then(() => console.log('Service Worker registrado'))
            .catch((error) => console.log('Erro no registro:', error));
        }

    </script>
</body>
</html>
